<!DOCTYPE html>
<% var root = '../../'; %>
<html>
<head>
	<title><%= title %></title>
	<%- include(root + 'includes/head'); %>
	<%- include(root + 'includes/inputfocus'); %>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<style>
		.width-g-1 {width: 3em;}
	</style>
	<script>
	wx.config({
		debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
		appId: '<%= ai %>', // 必填，公众号的唯一标识
		timestamp: '<%= ts %>', // 必填，生成签名的时间戳
		nonceStr: '<%= ns %>', // 必填，生成签名的随机串
		signature: '<%= sg %>',// 必填，签名，见附录1
		jsApiList: ['onMenuShareTimeline'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
	});
	//分享到朋友圈
	wx.ready(function () {
		wx.onMenuShareTimeline({
			title: '测试', // 分享标题
			link: 'xiadd.me', // 分享链接
			imgUrl: '', // 分享图标
			success: function () {
				console.log('success');
			},
			cancel: function () {
				console.log('canceled')
			}
		});
	})
	</script>
</head>
<body>
	<div class="wrapper">
		<%- include(root + 'includes/header'); %>
		<div class="container mgt-20">
			<div class="main">
				<div class="list-group-item">
					<p>Body mass index (BMI) is a measure of body fat based on height and weight that applies to adult men and women.</p>
					<ul>
						<li>Enter your weight and height using standard or metric measures.</li>
						<li>Select "Compute BMI" and your BMI will appear below.</li>
					</ul>
					<div ng-app="bmi-cal" ng-controller="bmi-cal-ctrl">
						<form name="bmiform">
							<p>Height: </p>
							<div class="input-group">
								<input type="number" min="0" class="form-control" ng-model="Height" ng-change="result()" required><!-- step="0.01"  for decimal definition-->
								<span class="input-group-addon width-g-1">cm</span>
							</div>
							<p>Weight: </p>
							<div class="input-group">
								<input type="number" min="0" class="form-control" ng-model="Weight" ng-change="result()" required>
								<span class="input-group-addon width-g-1">kg</span>
							</div>
						</form>
						<!--<p>BMI: {{ Weight / (Height * Height) }}</p>-->
						<!-- only show result when form are filled -->
						<p ng-hide="bmiform.$valid">Please enter your Height and weight.</p>
						<div ng-show="bmiform.$valid">
							<p>BMI: {{ bmimk2 }}</p>
							<p>Stage: {{ stage }}</p>
						</div>
						<p>BMI Categories: </p>
						<div class="">
							<div class="ps-relative">
								<span class="bmi-cat-switch-uw {{ stageclass }}">Underweight = <18.5</span>
								<span class="focus-border"></span>
							</div>

							<div class="ps-relative">
								<span class="bmi-cat-switch-nw {{ stageclass }}">Normal weight = 18.5–24.9</span>
								<span class="focus-border"></span>
							</div>
							<div class="ps-relative">
								<span class="bmi-cat-switch-ow {{ stageclass }}">Overweight = 25–29.9</span>
								<span class="focus-border"></span>
							</div>
							<div class="ps-relative">
								<span class="bmi-cat-switch-ob {{ stageclass }}">Obesity = BMI of 30 or greater</span>
								<span class="focus-border"></span>
							</div>
						</div>
					</div>

					<script>
					var app = angular.module("bmi-cal", []);
					app.controller("bmi-cal-ctrl", function($scope) {
						$scope.bmimk2 = "Please enter your Height and weight.";
						$scope.result = function() {
							//$scope.bmi = $scope.Weight / Math.pow($scope.Height/100, 2);
							$scope.bmi = $scope.Weight / (($scope.Height/100) * ($scope.Height/100));
							$scope.bmimk2 = $scope.bmi.toFixed(2);
							if ($scope.bmi < 18.5) {
								$scope.stage = "Underweight";
								$scope.stageclass = "sc-uw";
							};
							if ($scope.bmi >= 18.5 && $scope.bmi < 24.9 ) {
								$scope.stage = "Normal weight";
								$scope.stageclass = "sc-nw";
							};
							if ($scope.bmi >= 25 && $scope.bmi < 29.9 ) {
								$scope.stage = "Overweight";
								$scope.stageclass = "sc-ow";
							};
							if ($scope.bmi >= 30) {
								$scope.stage = "Obesity";
								$scope.stageclass = "sc-ob";
							};
						}
					});
					</script>

				</div>

				<div class="sprow">
					<div class="col-g input-effect">
						<input class="effect-16" id="edit-keys-1" type="text" placeholder="">
						<label>First Name</label>
						<span class="focus-border"></span>
					</div>
					<div class="col-g input-effect">
						<input class="effect-20" type="text" placeholder="">
						<label>First Name</label>
						<span class="focus-border">
							<i></i>
						</span>
					</div>
					<div class="col-g input-effect">
						<input class="effect-24" type="text" placeholder="">
						<label>First Name</label>
						<span class="focus-bg"></span>
					</div>
				</div>

				<div class="sprow">
					<h2>Border effects</h2>
					<div class="col-g">
						<input class="effect-1" type="text" placeholder="Placeholder Text">
						<span class="focus-border"></span>
					</div>
					<div class="col-g">
						<input class="effect-2" type="text" placeholder="Placeholder Text">
						<span class="focus-border"></span>
					</div>
					<div class="col-g">
						<input class="effect-3" type="text" placeholder="Placeholder Text">
						<span class="focus-border"></span>
					</div>

					<div class="col-g">
						<input class="effect-4" type="text" placeholder="Placeholder Text">
						<span class="focus-border"></span>
					</div>
					<div class="col-g">
						<input class="effect-5" type="text" placeholder="Placeholder Text">
						<span class="focus-border"></span>
					</div>
					<div class="col-g">
						<input class="effect-6" type="text" placeholder="Placeholder Text">
						<span class="focus-border"></span>
					</div>

					<div class="col-g">
						<input class="effect-7" type="text" placeholder="Placeholder Text">
						<span class="focus-border">
							<i></i>
						</span>
					</div>
					<div class="col-g">
						<input class="effect-8" type="text" placeholder="Placeholder Text">
						<span class="focus-border">
							<i></i>
						</span>
					</div>
					<div class="col-g">
						<input class="effect-9" type="text" placeholder="Placeholder Text">
						<span class="focus-border">
							<i></i>
						</span>
					</div>

					<h2>Background Effects</h2>
					<div class="col-g">
						<input class="effect-10" type="text" placeholder="Placeholder Text">
						<span class="focus-bg"></span>
					</div>
					<div class="col-g">
						<input class="effect-11" type="text" placeholder="Placeholder Text">
						<span class="focus-bg"></span>
					</div>
					<div class="col-g">
						<input class="effect-12" type="text" placeholder="Placeholder Text">
						<span class="focus-bg"></span>
					</div>
					<div class="col-g">
						<input class="effect-13" type="text" placeholder="Placeholder Text">
						<span class="focus-bg"></span>
					</div>
					<div class="col-g">
						<input class="effect-14" type="text" placeholder="Placeholder Text">
						<span class="focus-bg"></span>
					</div>
					<div class="col-g">
						<input class="effect-15" type="text" placeholder="Placeholder Text">
						<span class="focus-bg"></span>
					</div>

					<h2>Input with Label Effects</h2>
					<div class="col-g input-effect">
						<input class="effect-16" type="text" placeholder="">
						<label>First Name</label>
						<span class="focus-border"></span>
					</div>
					<div class="col-g input-effect">
						<input class="effect-17" type="text" placeholder="">
						<label>First Name</label>
						<span class="focus-border"></span>
					</div>
					<div class="col-g input-effect">
						<input class="effect-18" type="text" placeholder="">
						<label>First Name</label>
						<span class="focus-border"></span>
					</div>

					<div class="col-g input-effect">
						<input class="effect-19" type="text" placeholder="">
						<label>First Name</label>
						<span class="focus-border">
							<i></i>
						</span>
					</div>
					<div class="col-g input-effect">
						<input class="effect-20" type="text" placeholder="">
						<label>First Name</label>
						<span class="focus-border">
							<i></i>
						</span>
					</div>
					<div class="col-g input-effect">
						<input class="effect-21" type="text" placeholder="">
						<label>First Name</label>
						<span class="focus-border">
							<i></i>
						</span>
					</div>

					<div class="col-g input-effect">
						<input class="effect-22" type="text" placeholder="">
						<label>First Name</label>
						<span class="focus-bg"></span>
					</div>
					<div class="col-g input-effect">
						<input class="effect-23" type="text" placeholder="">
						<label>First Name</label>
						<span class="focus-bg"></span>
					</div>
					<div class="col-g input-effect">
						<input class="effect-24" type="text" placeholder="">
						<label>First Name</label>
						<span class="focus-bg"></span>
					</div>
				</div>
			</div>
		</div><!-- end of container -->
		<div class="push"></div>
	</div><!-- end of wrapper -->


	<%- include(root +'includes/footer'); %>
	<script>
	// load after jquery!!
	$(document).ready(function(){
		$(".input-effect input").blur(function(){
			if($(this).val() != ""){
				$(this).addClass("has-content");
			}else{
				$(this).removeClass("has-content");
			}
		})
	});
	</script>
</body>
</html>
